 <launch>
   	<param name="forward" value = "w"/>
	<param name="backward" value = "s"/>
	<param name="turnLeft" value = "a"/>
	<param name="turnRight" value = "d"/>
	<node pkg="turtlesim" name="sim" type="turtlesim_node"/>
	<node pkg="lab1" name="move" type="test.py"/>
	<remap from="move" to="sim"/>
</launch>
